body{font-family:Verdana, Geneva, sans-serif; color:#B40000; background-color:#dcdcdc; text-align:center;}
h1, h2, h3, h4, h5{margin-top:0; margin-bottom:0; margin-left:0; margin-right:0; font-weight:bold}
h1{color:##004C99}
h2{color:#663366;}
h3{color:#663300;}
a:link{color:#660000;}
a:visited{color:#660000;}
a:hover{color:#f5f5f5; background-color:#004C99}
a:active{color:#f5f5f5; background-color:#004C99}

ul
{
	list-style-type:none;
	margin:0;
	padding:4px;
}
li
{
	list-style-type:none;
	margin:0;
	padding:4px;
}
a.menu:link,a.menu:visited
{
	display:block;
	color:#663300;
	background-color:#f5f5f5;
	text-align:left;
	text-transform:uppercase;
}
a.menu:hover,a.menu:active
{
	color:#f5f5f5;
	background-color:#990000;
}

input.button 
{
	color:white; 
	font-family:Verdana;
	background-color:#800517;
}

input.dispName 
{
	color:#009999; 
	font-family:Verdana;
	background-color:#dcdcdc;
	border:2px;
	font-weight:bold;
}

input.button:hover
{
	background-color:#E41B17;
}
table, td, th
{
	padding:4px;
	border-style:none;
}
td
{
	border-style:none;
	text-align:center;
	color:#004C99;
	background-color:#eeeeee;
}
th
{
	border-style:none;
	height:50px;
	background-color:#004C99;
	color:white;
	text-align:center;
}
table.disp
{
	padding:4px;
	border-style:solid;
	border-width: 1px;
	border-color: black;
	border-collapse: collapse;
	font-size:small;
}
table.disp td
{
	border-width: 1px;
	border-color: black;
	border-style:solid;
	text-align:center;
	background-color:#f5f5f5;
	color:black;
}
table.disp th
{
	border-width: 1px;
	border-color: black;
	border-style:solid;
	height:50px;
	background-color:#004C99;
	color:white;
}
table.regular
{
	padding:4px;
	border-style:none;
}
table.regular td
{
	border-style:none;
	text-align:center;
	color:#004C99;
	background-color:#eeeeee;
}
table.regular th
{
	border-style:none;
	height:50px;
	background-color:grey;
	color:#800517;
}
DIV.label
{
	color:#663300;
	font-weight:bold;
}DIV.navcont
{
	display:block;
	color:#f5f5f5;
	background-color:#003D7A;
	width:160px;
	text-align:left;
	padding:4px;
	font-size:10px;	
	text-decoration:none;
	text-transform:uppercase;
}
DIV.instruction
{
	color:#004C99;
	font-weight:bold;
	text-align:left;
}
DIV.explanation
{
	color:#663300;
}
DIV.label
{
	color:#663300;
	font-weight:bold;
}
DIV.message
{
	color:green;
	font-weight:bold;
	text-align:center;
	font-size:large;
}
DIV.error
{
	color:red;
	font-weight:bold;
	text-align:center;
	font-size:large;
}